@import "tailwindcss";

:root {
  --dark1: #1C1C1A;
  --dark2: #2B2D2A;
  --light1: #EDEDE9;
  --light2: #CFCFC7;
  --green1: #5A5F48;
  --green2: #878E76;
}

.dark {
  --dark1: #EDEDE9;
  --dark2: #CFCFC7;
  --light1: #1C1C1A;
  --light2: #2B2D2A;
  --green1: #878E76;
  --green2: #5A5F48;
}

/* fonts */
.exo {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

.fustat {
  font-family: "Fustat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.ktp {
  font-family: "Kdam Thmor Pro", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.jersey {
  font-family: "Jersey 25", sans-serif;
  font-weight: 400;
  font-style: normal;
}